* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  color: #fff;
}

div {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  color: #fff;
}

div span {
  font-size: 3rem;
  text-transform: uppercase;
}

.Blue {
  color: rgb(92, 95, 230);
}

.Red {
  color:rgb(241, 56, 50);
}

.Yellow {
  color:rgb(246, 248, 112);
}

.reflectionBelow {
  -webkit-box-reflect: below -1.2rem linear-gradient(transparent, rgba(0,0,0,0.4));
}

.reflectionLeft {
  -webkit-box-reflect: left 0.8rem linear-gradient(to left, transparent, rgba(0,0,0,0.3));
}

.reflectionRight {
  -webkit-box-reflect: right 0.5rem linear-gradient(to right, transparent, rgba(0,0,0,0.5));
}