@import 'animationwavy';

$anumationDuration: 1.5s;

.__wavyup {
  span {
    position: relative !important;
    display: inline-block !important;
    animation: wavyup ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-duration: $anumationDuration;
  }
}

.__wavydown {
  span {
    position: relative !important;
    display: inline-block !important;
    animation: wavydown ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-duration: $anumationDuration;
  }
}